:root {
  --black-color: #000;
  --whire-color: #fff;
  --yelow-color: #F90;
  --sandy-yellow-color: #E1670E;
  --sand-color: #FFB84D;
  --orange-colore: #ff9900;
  --gray-colore: #666;
  --gray-morn-colore: #CACACA;
  --graphite-colore: #414141;
  --gap: 30px;
}

html {
  background-color: var(--whire-color);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Montserrat-Regular";
  /* 400 */
  src:
    local("Montserrat-Regular"),
    url("../font/Montserrat-Regular.woff2") format("woff2"),
    url("../font/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  /* 600 */
  src:
    local("Montserrat-SemiBold"),
    url("../font/Montserrat-SemiBold.woff2") format("woff2"),
    url("../font/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  /* 700 */
  src:
    local("Montserrat-ExtraBold"),
    url("../font/Montserrat-ExtraBold.woff2") format("woff2"),
    url("../font/Montserrat-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Black";
  /* 800 */
  src:
    local("Montserrat-Black"),
    url("../font/Montserrat-Black.woff2") format("woff2"),
    url("../font/Montserrat-Black.woff") format("woff");
}


body {
  font-family: "Montserrat-SemiBold", Arial, Verdana, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.container {
  max-width: 1810px;
  margin: 0 auto;
  padding: 0 20px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  margin: 0;
  color: var(--black-color);
  font-family: "Montserrat-Regular";
  font-size: 48px;
}

/* header */
.header {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin: auto;
  flex-wrap: wrap;
  border-radius: 0px 0px 32px 32px;
  background: var(--whire-color);
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.10);
}

.header__link {
  margin: 14px 0 14px 75px;
  margin-right: auto;
}

.header__nav {
  margin-right: 4%;
}

.nav__list {
  column-gap: 85px;
}

.header__search {
  display: none;
}

.nav__item {
  margin: 39px 0;
}

.nav__btn {
  position: relative;
  width: 24px;
  height: 24px;
  border: 0;
  background-color: transparent;

}

.nav__svg {
  position: absolute;
  top: -3px;
  left: 1px;
  stroke: black;
  fill: none;
  border: 0;
  transition: stroke 0.3s ease-in-out, border 0.3s ease-in-out, outline 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.nav__svg:hover {
  stroke: var(--yelow-color);
  border: 0;
  outline: 0;
}

.nav__btn:focus {
  border: 0;
  stroke: var(--yelow-color);
  outline-offset: 3.5px;
  outline: 2px var(--yelow-color) solid;
}

.nav__svg:active {
  fill: none;
  stroke: var(--yelow-color);
  border: 0;
}

.nav__link {
  color: var(--black-color);
  font-size: 18px;
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out, padding 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.nav__link:hover {
  border-bottom: 2px solid;
  border-color: var(--yelow-color);
}

.nav__link:focus {
  outline: 2px solid var(--yelow-color);
  outline-offset: 5px;
  border: 0;
}

.nav__link:active {
  color: var(--sandy-yellow-color);
  border-bottom: 2px solid;
  border-color: var(--yelow-color);
}

/*   hero */
.hero {
  margin-top: 45px;
  border-radius: 32px;
}

.hero__div {
  display: flex;
  flex-direction: column;
  padding: 100px 0 0 80px;
  background-image: url("../img/hero_back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 32px;
  max-width: 1770px;
  height: 620px;
  width: 100%;

}

.hero__title {
  max-width: 837px;
  margin: 0;
  letter-spacing: -1px;
  line-height: 86px;
  color: var(--whire-color);
  font-family: "Montserrat-Black";
  font-size: 70px;
}

.hero__title--smile {
  margin: 0;
  max-width: 837px;
  margin-top: 24px;
  color: var(--whire-color);
  font-family: "Montserrat-ExtraBold";
  font-size: 24px;
  letter-spacing: -0.4px;
  word-spacing: 1px;
}

.hero__btn {
  display: flex;
  width: 280px;
  height: 78px;
  margin-top: 90px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: var(--yelow-color);
  color: var(--whire-color);
  font-family: "Montserrat-ExtraBold";
  font-size: 22px;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, outline 0.3s ease-in-out;
  cursor: pointer;
}

.hero__btn:hover {
  background-color: var(--sand-color);
  border: 0;
  outline: 0;
}

.hero__btn:focus {
  background-color: var(--sand-color);
  border: 0;
  outline: 0;
}

.hero__btn:active {
  background-color: var(--sandy-yellow-color);
  border: 0;
  outline: 0;
}

.about {
  margin-top: 50px;
  font-family: "Montserrat-Regular";
}

.about__text {
  max-width: 1235px;
  font-size: 16px;
  line-height: 32px;
  font-family: "Montserrat-Regular";
  margin: 24px 0 0 0;
}

.about__div {
  --offsets: 1;
  min-height: 622px;
  margin-top: 50px;
  gap: var(--gap);
}

.about__div--large {
  display: flex;
  justify-content: end;
  width: calc((100% - (var(--offsets) * var(--gap))) / (var(--offsets) + 1 ));
  flex-direction: column;
  background-image: url("../img/about-back-2.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.about__360--text {
  display: none;
}

.div__back {
  display: flex;
  align-items: center;
  min-height: 196px;
  background-image: url("../img/about-back.svg");
  background-size: cover;
  background-repeat: no-repeat;
  fill: rgba(0, 0, 0, 0.50);
}

.about__text--large {
  width: 438px;
  margin: auto;
  margin-left: 5.5%;
  color: var(--whire-color);
  font-family: "Montserrat-ExtraBold";
  font-size: 16px;
  line-height: 32px;
}

.about__btn {
  display: inline-flex;
  height: 60px;
  padding: 19px 38px;
  margin: auto;
  margin-left: 12%;
  margin-right: 5.9%;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  border: 3px solid var(--yelow-color);
  background-color: transparent;
  color: var(--whire-color);
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, outline 0.3s ease-in-out;
  cursor: pointer;
}

.about__360--btn {
  display: none;
  width: 162px;
  height: 40px;
  padding: 12px 20px;
  border-radius: 9px;
  border: 3px solid var(--yelow-color);
  background-color: transparent;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, outline 0.3s ease-in-out;
  cursor: pointer;
  color: #FF9900;
  margin-top: -4%;
  font-size: 12px;
}

.about__btn:hover {
  background-color: var(--yelow-color);
  border: 0;
  outline: 0;
}

.about__btn:focus {
  background-color: var(--yelow-color);
  border: 0;
  outline: 0;
}

.about__btn:active {
  background-color: var(--sandy-yellow-color);
  border: 0;
  outline: 0;
}

.list__item {
  display: flex;
  max-width: 870px;
  min-height: 295px;
  padding: 110px 60px 0 60px;
  border: 1px solid var(--gray-morn-colore);
  border-radius: 32px;
}

.list__title {
  margin: 0;
  color: var(--black-color);
  font-family: "Montserrat-ExtraBold";
  font-size: 24px;
  letter-spacing: -0.4px;
  word-spacing: 1px;
}

.list__text {
  margin: 0;
  margin-top: 10px;
  color: var(--black-color);
  font-family: "Montserrat-Regular";
  font-size: 16px;
  line-height: 31px;
}

.about__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.list__div--text {
  position: relative;
  max-width: 470px;
  margin-left: 39px;
  margin-top: -45px;
}

.list__div--image {
  position: relative;
  margin-right: 80px;
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
  background-color: var(--orange-colore);
  border-radius: 50%;
}

.coube:before {
  position: absolute;
  content: "";
  background-image: url(../img/coube.svg);
  background-repeat: no-repeat;
  width: 120px;
  height: 132px;
  right: -70px;
  top: -45px;
}

.gear:before {
  position: absolute;
  content: "";
  background-image: url(../img/gear.svg);
  background-repeat: no-repeat;
  width: 140px;
  height: 140px;
  right: -75px;
  top: -45px;
}

/* stages */
.stages {
  padding-top: 100px;
}

.stages__title--smile {
  margin: 0;
  margin-top: 36px;
  color: var(--black-color);
  font-family: "Montserrat-ExtraBold";
  font-size: 24px;
  line-height: 32px;
}

.stages__text {
  margin: 0;
  margin-top: 8px;
  color: var(--black-color);
  max-width: 758px;
  font-family: "Montserrat-Regular";
  font-size: 16px;
  line-height: 32px;
}

.stages__div--btns {
  display: flex;
  gap: 28px;
  margin-top: 18px;
}

.stages__btn--more {
  display: inline-flex;
  height: 60px;
  padding: 19px 38px;
  align-items: center;
  border-radius: 16px;
  background: var(--yelow-color);
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, outline 0.3s ease-in-out;
  cursor: pointer;
  color: white;
}

.stages__btn--more:hover {
  background-color: var(--sand-color);
  border: 0;
  outline: 0;
}

.stages__btn--more:focus {
  background-color: var(--sand-color);
  border: 0;
  outline: 0;
}

.stages__btn--more:active {
  background-color: var(--sandy-yellow-color);
  border: 0;
  outline: 0;
}

.stages__btn--contract {
  display: inline-flex;
  height: 60px;
  padding: 19px 38px;
  align-items: center;
  background-color: transparent;
  border-radius: 16px;
  border: 1px solid var(--black-color);
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, outline 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}

.stages__btn--contract:hover {
  background-color: var(--gray-colore);
  border: 0;
  outline: 0;
  color: var(--whire-color);
}

.stages__btn--contract:focus {
  background-color: var(--gray-colore);
  border: 0;
  outline: 0;
  color: var(--whire-color);
}

.stages__btn--contract:active {
  background-color: var(--black-color);
  border: 0;
  outline: 0;
  color: var(--whire-color);
}

.stages__div {
  display: flex;
  justify-content: space-between;
}

.stages__left {
  flex-direction: column;
  padding: 100px 0 0 80px;
  margin-top: 45px;
  background-image: url("../img/stages_back.jpg");
  width: 870px;
  height: 460px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

/* questions */
.questions {
  padding-top: 100px;
}

.questions__list {
  display: flex;
  padding-top: 36px;
  --offsets: 2;
  flex-wrap: wrap;
  gap: var(--gap);
}

.list__item--questions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc((100% - (var(--offsets) * var(--gap))) / (var(--offsets) + 1));
  min-height: 292px;
  padding: 65px 65px 65px 60px;
  border-radius: 32px;
  outline: 1px solid var(--gray-morn-colore);
  background: var(--whire-color);
}

.questions__title--h3 {
  margin: 0;
  max-width: 412px;
  letter-spacing: -0.3px;
  word-spacing: 1px;
  padding-top: 1px;
  color: var(--black-color);
  font-family: "Montserrat-ExtraBold";
  font-size: 24px;
}

.questions__text {
  margin: 0;
  max-width: 450px;
  color: var(--black-color);
  font-family: "Montserrat-Regular";
  font-size: 16px;
  line-height: 32px;
  padding-top: 11px;
}

/* footer */
.footer {
  padding-top: 100px;
  margin: auto;
}

.footer__container {
  display: flex;
  align-items: center;
  min-height: 594px;
  background-color: var(--black-color);
  --offsets: 2;
  gap: var(--gap);
}

.footer__link {
  width: 224px;
  height: 72px;
}

.footer__left {
  display: flex;
  flex-direction: column;
  width: calc((100% - (var(--offsets) * var(--gap))) / (var(--offsets) + 1));
  min-height: 494px;
  padding-left: 75px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  width: 252px;
}

.nav__link--footer {
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out, padding 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.nav__link--footer:hover {
  border: 0;
  color: var(--orange-colore);
  outline: 0;
}

.nav__link--footer:focus {
  outline: 2px solid var(--yelow-color);
  outline-offset: 5px;
  border: 0;
  color: var(--gray-morn-colore);
}

.nav__link--footer:active {
  border: 0;
  outline: 0;
  color: var(--sandy-yellow-color);
}

.nav__item--footer {
  color: var(--gray-morn-colore);
  font-size: 18px;
  line-height: 36px;
}

.footer__social {
  display: flex;
  padding-top: 90px;
  gap: 25px;
}

.footer__center {
  display: flex;
  flex-direction: column;
  width: calc((100% - (var(--offsets) * var(--gap))) / (var(--offsets) + 1));
  gap: 25px;
  margin-left: 37px;
  margin-top: 8px;
}

.socail__title {
  margin: 0;
  font-size: 48px;
  color: var(--gray-morn-colore);
  font-family: "Montserrat-Regular";
}

.footer__area::placeholder,
.footer__text::placeholder {
  color: var(--gray-morn-colore);
  font-family: "Montserrat-Regular";
  font-size: 16px;
  line-height: 32px;
}

.footer__text {
  margin-bottom: 25px;
  width: 94%;
  height: 60px;
  border-radius: 16px;
  border: 0;
  background-color: var(--graphite-colore);
  color: var(--gray-morn-colore);
  font-family: "Montserrat-Regular";
  font-size: 16px;
  padding-top: 6px;
  padding-left: 24px;
}

.footer__area {
  width: 94%;
  height: 150px;
  border-radius: 16px;
  border: 0;
  background-color: var(--graphite-colore);
  color: var(--gray-morn-colore);
  font-family: "Montserrat-Regular";
  font-size: 16px;
  padding-top: 16px;
  padding-left: 24px;
}

.input {
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, outline 0.3s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}

.input:hover {
  background-color: var(--gray-colore);
  border: 0;
  outline: 0;
}

.input:focus {
  background-color: var(--gray-colore);
  border: 0;
  outline: 0;
}

.input:active {
  background-color: var(--gray-colore);
  color: var(--whire-color);
  border: 0;
  outline: 0;
}

.footer__btn {
  display: flex;
  padding: 19px 49px;
  justify-content: center;
  align-items: center;
  margin-top: 29px;
  border-radius: 16px;
  background: var(--yelow-color);
  color: var(--whire-color);
  text-align: center;
  font-family: "Montserrat-ExtraBold";
  font-size: 16px;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, outline 0.3s ease-in-out;
  cursor: pointer;
}

.footer__btn:hover {
  background-color: var(--sand-color);
  border: 0;
  outline: 0;
}

.footer__btn:focus {
  background-color: var(--sand-color);
  border: 0;
  outline: 0;
}

.footer__btn:active {
  background-color: var(--sandy-yellow-color);
  border: 0;
  outline: 0;
}

.checkbox__text {
  color: var(--gray-morn-colore);
  font-family: "Montserrat-Regular";
  font-size: 16px;
  line-height: 32px;
}

.footer__block--btn {
  display: flex;
  align-items: baseline;
  width: 570px;
}

.footer__block--check {
  margin-left: 22px;
}

.footer__right {
  display: flex;
  justify-content: right;
  width: calc((100% - (var(--offsets) * var(--gap))) / (var(--offsets) + 1));
}

.footer__check--label {
  cursor: pointer;
  margin-left: 16px;
}

.footer__check {
  display: none;
}

.footer__span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 17px;
  font-size: 16px;
  line-height: 18px;
  color: var(--gray-morn-colore);
}

.footer__span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 1px solid var(--gray-morn-colore);
}

.footer__span::after {
  content: url(../img/Check.svg);
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
}

.footer__check:checked+.footer__span::after {
  opacity: 0;
  transition: opacity 0.3s;
}

.footer__span--right {
  display: block;
  width: 363px;
  color: var(--gray-morn-colore);
  font-family: "Montserrat-Regular";
  font-size: 16px;
  line-height: 32px;
  margin-right: 73px;
}

.socail__link {
  fill: var(--gray-colore);
  transition: fill 0.3s ease-in-out, border 0.3s ease-in-out, outline 0.3s ease-in-out;
  cursor: pointer;
}

.socail__link:hover {
  fill: var(--orange-colore);
  border: 0;
  outline: 0;
}

.socail__link:focus {
  fill: var(--gray-colore);
  border: 0;
  outline: 2px solid var(--yelow-color);
  ;
  outline-offset: 5px;
}

.socail__link:active {
  fill: var(--sandy-yellow-color);
  border: 0;
  outline: 0;
}
